pipeline/foreach_lookup_DeathCases.json
{
	"name": "foreach_lookup_DeathCases",
	"properties": {
		"activities": [
			{
				"name": "Getting FIle Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_File_Names_Blob",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getting FIle Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getting FIle Names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_InputURL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_SinkFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileSourceFromLoop",
								"value": {
									"value": "@item().sourceRelativeURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_SinkFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "frileOutputFromLoop",
								"value": {
									"value": "@item().sinkFileName",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileSourceFromLoop": {
				"type": "String"
			},
			"frileOutputFromLoop": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-03T04:17:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}